@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body{
    background-image: url("../images/bluewp.jpg");
    background-repeat: repeat;
    color: black;
}

.jumbotron {
    background-color:rgb(225,217,0);
    border-color: #ddd;
    border-spacing: solid;
    border: 1px solid;
    color:black;
}
.svg {
    height: 100px;
    width: 100px;
    margin-top: 5px;
}
p{
    text-align: center;
    color:black;
}

.well, .panel-default {
    background-color:rgb(225,217,0);
    border-color: #ddd;
    border-spacing: solid;
    border: 1px solid;
    color: black;
    margin-top: 20px;
}

.panel-default > .panel-heading {
    background-color: rgb(234,2,235);
    color: black;  
    padding-left: 5px;
    padding: 1px;
    }

.btn-success, .btn-dark, .btn-warning, .btn-danger, .btn{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    color:white;
}
input {
    overflow: visible;
    inline-size: -webkit-fill-available;
}

.radio{
    margin-right: 20px;
}