@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body, html {
    height: 100%;
  background-image: url("../images/Keto_Final_Image.jpg") ;
  background-image: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.jumbotron, .well {
    background-color:rgb(225,217,0,.8);
    border-color: #ddd;
    border-spacing: solid;
    border: 1px solid;
    color:black;
}
.svg {
    height: 100px;
    width: 100px;
    margin-top: 5px;
}
p{
    text-align: center;
    color:black;
}

.well, .panel-default {
    background-color:rgb(225,217,0,.8);
    border-color: #ddd;
    border-spacing: solid;
    border: 1px solid;
    color: black;
    margin-top: 20px;
}

.panel-default > .panel-heading {
    background-color: rgb(234,2,235,.8);
    color: black;  
    padding-left: 5px;
    padding: 1px;
    }

.btn-success, .btn-dark, .btn-warning, .btn-danger, .btn{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    color:white;
}
input {
    overflow: visible;
    inline-size: -webkit-fill-available;
}

.radio{
    margin-right: 20px;
}